/* Uprava - elemnts */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }

body {
  background-image: linear-gradient(to bottom, #615dad, #ffc8da);
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  margin: 0;
  padding-top: 100px;
}

h1 {
  text-align: center;
  color: #ffffff;
  font-family: 'Lobster', cursive;
  font-weight: 100;
  font-size: 50px;
}

p {
  margin: 15px;
  text-align: center;
  color: #ffffff;
  padding-bottom: 40px;
  padding-top: 20px;
}

a {
  display: block;
  text-decoration: none;
  padding: 20px;
}

/* Uprava nad tridama*/

.game {
  width: 420px;
  margin: auto;
  background-color: #283e50;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  font-size: large;
}

/* Uprava fotky */
.mainfoto {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

/* Uprava tlacitek */
.links {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.buttons li {
  text-align: center;
  padding: 0px;
}

.rules {
  background-color: #1fcca4;
  text-align: center;
  color: #ffffff;
  margin-bottom: 1px;
}

.rules:hover {
  background-color: #1cbb96;
}

.play {
  background-color: #0197f6;
  text-align: center;
  color: #ffffff;
}

.play:hover {
  background-color: #0090e9;
}

/* Styles for "Pravidla" */
.instruction img {
  width: 100%;
}
