/* Uprava - elemnts */
html {
  box-sizing: border-box;
}
*,
:after,
:before {
  box-sizing: inherit;
}

body {
  background-image: linear-gradient(to bottom, #615dad, #ffc8da);
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  margin: 0;
  padding-top: 100px;
  padding-bottom: 30px;
}

h1 {
  text-align: center;
  color: #ffffff;
  font-family: "Lobster", cursive;
  font-weight: 100;
  font-size: 50px;
}

p {
  margin: 15px;
  text-align: center;
  color: #ffffff;
  padding-bottom: 40px;
  padding-top: 20px;
}

a {
  display: block;
  text-decoration: none;
}

h2 {
  color: white;
  font-size: 25px;
  font-family: sans-serif;
  font-weight: bold;
}

/* Uprava nad tridama*/

.game {
  width: 350px;
  max-width: 100%;
  margin: auto;
  background-color: #283e50;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  font-size: large;
}

/* Uprava fotky */
.mainfoto {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

/* Uprava tlacitek */

.links {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.links li a {
  padding: 20px;
}

.buttons li {
  text-align: center;
  padding: 0px;
}

.rules {
  background-color: #1fcca4;
  text-align: center;
  color: #ffffff;
  margin-bottom: 1px;
}

.rules:hover {
  background-color: #1cbb96;
}

.play {
  background-color: #0197f6;
  text-align: center;
  color: #ffffff;
}

.play:hover {
  background-color: #0090e9;
}

/* Styles for "Pravidla" */
ol li {
  margin: 15px;
  color: #ffffff;
  padding-top: 10px;
}

h1.title {
  padding-top: 40px;
  margin: 0;
}

.instruction img {
  width: 100%;
}

.instruction {
  padding-bottom: 40px;
}

.mainInstruction {
  margin-top: 50px;
}

figure {
  padding: 0;
  margin: 0;
  font-style: italic;
  color: white;
  text-align: center;
}

.game.two {
  width: 400px;
}

.zkusimpadding {
  padding-left: 30px;
  padding-right: 30px;
}

/* Vytvoření kolečka a křížku */
.circle {
  border: 2px solid white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-left: 5px;
  position: relative;
  top: 3px;
}

.cross {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 25px;
}

.cross:before,
.cross:after {
  position: absolute;
  left: 50%;
  top: 6px;
  content: " ";
  height: 100%;
  width: 2px;
  background-color: white;
}
.cross:before {
  transform: rotate(45deg);
}
.cross:after {
  transform: rotate(-45deg);
}

/* Hrací pole*/
.game__final {
  max-width: 80vmin;
  margin: 0 auto 50px;
}

.navigation__menu {
  display: flex;
  justify-content: space-between;
}

/* Menu */

/*Tlačítka domu a restart*/

.btns__menu {
  display: flex;
}

.btn {
  margin-left: 15px;
}
.btn_img {
  border-radius: 5px;
  padding: 12px 10px 12px 10px;
}

.btn_img.home {
  background-color: #0197f6;
}
.btn_img.restart {
  background-color: #1fcca4;
}

.btn_img.home:focus,
.btn_img.home:hover {
  background-color: #1fcca4;
  opacity: 0.6;
}

.btn_img.restart:focus,
.btn_img.restart:hover {
  background-color: #0090e9;
  opacity: 0.8;
}

.game__field {
  display: grid;
  grid-template-columns: repeat(10, 10fr);
  grid-template-rows: repeat(10, 10fr);
  opacity: 0.5;
  box-shadow: 0px 0px 1px 1px black;
}

.btn__game {
  width: 8vmin;
  height: 8vmin;
  padding: 0;
  border: 1px solid black;
}

.btn__game:focus,
.btn__game:hover {
  opacity: 0.7;
}

@media screen and (min-width: 660px) {
  .game.two {
    width: 90%;
    max-width: 750px;
  }

  .mainInstruction {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .instruction {
    flex: 1 1 48%;
  }

  .instruction:nth-child(2n) {
    margin-left: 2%;
  }
} /* Konec @MediaQuery*/
