body {
  background-image: linear-gradient(to bottom, #615dad, #ffc8da);
  height: 100vh;
}

p {
  margin: 0;
  text-align: center;
  color: #ffffff;
}

h1 {
  text-align: center;
  color: #ffffff;
}

/*styly tříd*/

.game {
  display: flex;
  display: block;
  width: 490px;
  height: 770px;
  margin-left: auto;
  margin-right: auto;
}

.introduction {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #283e50;
  padding-bottom: 10px;
  margin-bottom: 5px;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.rules {
  background-color: #1fcca4;
  text-align: center;
  color: #ffffff;
  font-size: large;
  padding-top: 5px;
  padding-bottom: 5px;
}

.play {
  background-color: #0197f6;
  text-align: center;
  color: #ffffff;
  font-size: large;
  padding-top: 5px;
  padding-bottom: 5px;
}

.main {
  display: block;
  width: 100%;
}
